a#next-tutorial {
  display: none;
}
section#tutorial {
  width: 35%;
}
section#split-host {
  width: 65%;
}
.step ol li {
    list-style-type: inherit !important;
    margin-left: 0px;
}
.step .content ol {
    padding-left: 20px !important;
}
a#terminal-inline-poweredby {
  display: none !important;
}
section#intro, section#finished {
  width: 100% !important;
}
#intro .banner, #finished .banner {
    display: none !important;
    visibility: hidden;
}

#page-mode-lti-view iframe#contentframe {
  border: none !important;
}

#intro img, #finished img {
  max-width: 75vw;
  display:block;
  margin:auto;
}
#intro p:nth-of-type(2), #finished p:nth-of-type(2) {
  max-width: 70vw;
  display:block;
  margin:auto;
}